// ===================================================Миксины=============================================

//адаптивное св-во
@mixin adaptiveValue($property, $startSize, $minSize) {
    $addSize: $startSize - $minSize;
    // Ширина полотна макета
    $maxWidth: 1300;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
.about {
}
.about__wrap {
    min-height: 942px;
    background-image: url("../img/about/about-bg.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position-y: 256px;
    background-position-x: inherit;
    justify-content: end;
    @media (max-width: 992px) {
        background-image: none;
        justify-content: center;
        min-height: 650px;
    }
}
.about__content {
    width: 636px;
    @media (max-width: 992px) {
        text-align: center;
    }
}
.about__title {
    @include title;
    padding-bottom: 45px;
    @include adaptiveValue(font-size, 48, 35);
}
.about__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
}
