//пропорциональное изменение высоты изображения
@function prop($h, $w) {
    $result: $h / $w * 100%;
    @return $result;
}
.partners {
    min-height: 687px;
    display: flex;
    align-items: flex-end;
}
.partjers__wrap {
    min-height: 487px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.partners__title {
    @include title;
    @media (max-width: 992px) {
        text-align: center;
        padding-bottom: 60px;
    }
    @media (max-width: 450px) {
        font-size: 35px;
    }
}

.partners__top {
    display: flex;
    align-items: center;
    @media (max-width: 450px) {
        flex-direction: column;
        padding-top: 80px;
    }
}
.partners__logo {
    width: 127px;
    height: 127px;
}
.partners__item-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
}
.partners__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102%;
    &:not(:nth-child(4n)) {
        border-right: 1px solid #4c4c4c;
    }
    @media (max-width: 600px) {
        &:not(:nth-child(4n)) {
            border-right: none;
        }
        border-bottom: 1px solid #4c4c4c;
    }
}
.partners__item-wrap-img {
    position: relative;
    width: 62%;
    height: 0;
    padding-bottom: prop(93, 319);
}
.partners__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.partners__item_up {
    border-bottom: 1px solid #4c4c4c;
}
