// ===================================================Миксины=============================================

//адаптивное св-во
@mixin adaptiveValue($property, $startSize, $minSize) {
    $addSize: $startSize - $minSize;
    // Ширина полотна макета
    $maxWidth: 1920;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
//пропорциональное изменение высоты изображения
@function prop($h, $w) {
    $result: $h / $w * 100%;
    @return $result;
}
.profession {
    min-height: 750px;
    display: flex;
    align-items: flex-end;
}
.profession__wrap {
    min-height: 549px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.profession__title {
    @include title;
    @include adaptiveValue(font-size, 48, 35);
    @media (max-width: 992px) {
        text-align: center;
        padding: 80px 0 50px 0;
    }
}
.profession__item-box {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 993px) {
        justify-content: flex-start;
    }
    @media (max-width: 670px) {
        justify-content: center;
    }
}
.profession__item {
    flex: 0 0 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    @media (max-width: 670px) {
        flex: 1 1 100%;
    }
}
.profession__wrap-img {
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: prop(100, 294);
    margin-bottom: 60px;
}
.profession__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.profession__item-title {
    color: var(--white, #fff);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    margin-bottom: 30px;
}
.profession__item-text {
    color: var(--white, #fff);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    max-width: 358px;
}
