.start__wrap {
    min-height: 552px;
    display: flex;
    flex-direction: column;
    @media (max-width: 992px) {
        align-items: center;
    }
}

.start__title-box {
    display: flex;
    align-items: center;

    @media (max-width: 450px) {
        flex-direction: column;
    }
}

.start__logo {
    width: 127px;
    height: 127px;
    padding-right: 20px;
    transform: rotate(90deg);
}

.start__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #ffffff;
    @media (max-width: 658px) {
        text-align: center;
    }
    @media (max-width: 450px) {
        font-size: 35px;
    }
}

.start__subtitle {
    padding-top: 49px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.5;
    width: 411px;
    margin-bottom: 7%;
    @media (max-width: 658px) {
        text-align: center;
    }
    @media (max-width: 450px) {
        width: 300px;
    }
}

.start__list {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1300px) {
        justify-content: center;
    }
}

.start__item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.5;
    width: 306px;
}
.start__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 24.92%;
    justify-content: space-between;
    height: 273px;
}
.start__item-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #ffffff;
}
