.start__box-item {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.start__item {
    flex: 0 1 20%;
    @media (max-width: 992px) {
        flex: 1 1 20%;
    }
    @media (max-width: 658px) {
        align-items: center;
        justify-content: space-evenly;
    }
}
.start__item-title {
    @media (max-width: 658px) {
        text-align: center;
    }
}
.start__item-wrap-img {
    width: 100%;
    @media (max-width: 658px) {
        display: none;
    }
}
.start__item-img {
    width: 100%;
    @media (max-width: 658px) {
        display: none;
    }
}
.start__item-text {
    @media (max-width: 658px) {
        text-align: center;
    }
}
