// @import "reset";
@mixin title {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #ffffff;
}
$color: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 10px;
    // outline: 1px solid blue;
    margin: 0 auto;
    @media (max-width: 1300px) {
        max-width: 970px;
    }
    @media (max-width: 992px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: none;
    }
}
body,
html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}
.main {
    background-image: url("../img/about/bg.png");
}
.btn {
    transition: 0.4s;
    &:hover {
        transform: scale(120%);
    }
}

@import "./blocks/_header.scss";
@import "./blocks/_about.scss";
@import "./blocks/_start.scss";
@import "./blocks/_profession.scss";
@import "./blocks/_partners.scss";
@import "./blocks/_education.scss";
@import "./blocks/_teachers.scss";
@import "./blocks/_footer.scss";
@import "./blocks/burger";
@import "./blocks/start-box";
